; A Canoa Virou
; Configuration file

bars=20
music_bpm=118
characters={
	"Boogar": {
	 	"instruments": [
			{ "audio": "canoa-voz-kaio.ogg", "bars": 20, "type": "Voz",
							"min_volume_db": -25.0,
							"max_volume_db": -5.0 },
			{ "audio": "canoa-marcial-pratos.ogg", "bars": 20, "type": "Pratos" },
			{ "audio": "canoa-marcial-trombone.ogg", "bars": 20, "type": "Trombone" },
			{ "audio": "canoa-melo-sanfona.ogg", "bars": 20, "type": "Sanfona" },
			{ "audio": "canoa-melo-synth.ogg", "bars": 20, "type": "SynthBass",
							"min_volume_db": -27.0,
							"max_volume_db": -7.0  },
		]
	},
	"Ceval": {
		"instruments": [
			{ "audio": "canoa-pop-bateria.ogg", "bars": 20, "type": "BateriaPop" },
			{ "audio": "canoa-rock-bateria.ogg", "bars": 20, "type": "BateriaRock" },
			{ "audio": "canoa-edm-dub-loop.ogg", "bars": 20, "type": "BateriaEletronica" },
			{ "audio": "canoa-marcial-clave.ogg", "bars": 20, "type": "Agogo" },
		]
	},
	"Dan": {
		"instruments": [
			{ "audio": "canoa-marcial-caixa.ogg", "bars": 20, "type": "Caixa" },
			{ "audio": "canoa-latin-violao.ogg", "bars": 20, "type": "Violao" },
			{ "audio": "canoa-latin-perc-loop.ogg", "bars": 4, "type": "Conga",
								"min_volume_db": -25.0,
								"max_volume_db": -5.0 },
		]
	},
	"Esper": {
		"instruments": [
			{ "audio": "canoa-latin-agogo.ogg", "bars": 20, "type": "Agogo" },
			{ "audio": "canoa voz sarah.ogg", "bars": 20, "type": "Voz" },
			{ "audio": "canoa-pop-rhodes.ogg", "bars": 20, "type": "Rhodes",
								"min_volume_db": -15.0,
								"max_volume_db": 5.0  },
			{ "audio": "canoa-marcial-trompete.ogg", "bars": 20, "type": "Trompete",
								"min_volume_db": -15.0,
								"max_volume_db": 5.0 } ,

		]
	},
	"Gobu": {
	"instrument_use_limit" : 1,

			"instruments": [
			{ "audio": "canoa-edm-bass-synth.ogg", "bars": 20, "type": "Synth" },
			{ "audio": "canoa-pop-baixo.ogg", "bars": 20, "type": "BaixoEletrico" },
			{ "audio": "canoa-rock-baixo.ogg", "bars": 20, "type": "BaixoRock" },
		]
	},
	"Grompy": {
		"instruments": [
			{ "audio": "canoa-latin-pandeirola.ogg", "bars": 2, "type": "Pandeirola",
							"min_volume_db": -30.0,
							"max_volume_db": -10.0 },
			{ "audio": "canoa-voz-vitor.ogg", "bars": 20, "type": "Voz"},
			{ "audio": "canoa-rock-gtr-base.ogg", "bars": 20, "type": "GuitarraFrase",
							"min_volume_db": -30.0,
							"max_volume_db": -10.0},
		]
	},
	"Ohle": {
	 	"instruments": [
			{ "audio": "canoa-melo-violino.ogg", "bars": 20, "type": "Violino" },
			{ "audio": "canoa-marcial-tuba.ogg", "bars": 20, "type": "Tuba" },
			{ "audio": "canoa-melo-picolo.ogg", "bars": 20, "type": "Picolo" },
			{ "audio": "canoa-marcial-picolo.ogg", "bars": 20, "type": "Picolo2" },
			{ "audio": "canoa-rock-gtr-melodia.ogg", "bars": 20, "type": "GuitarraRock" },
			{ "audio": "canoa voz pedro.ogg", "bars": 20, "type": "Voz"},
		]
	},
	"Rafog": {
	 	"instruments": [
			{ "audio": "canoa-marcial-bombo.ogg", "bars": 20, "type": "Bombo" },
			{ "audio": "canoa-edm-milkyman-clock.ogg", "bars": 20, "type": "Milkman" },
			{ "audio": "canoa-edm-synth-arp.ogg", "bars": 20, "type": "SynthBass" },
		]
	},
	"Teewong": {
	 	"instruments": [
			{ "audio": "canoa-pop-orgao.ogg", "bars": 20, "type": "Orgao" },
			{ "audio": "canoa-pop-rhodes.ogg", "bars": 20, "type": "Rhodes" },
			{ "audio": "canoa-latin-shaker.ogg", "bars": 4, "type": "Shaker",
								"min_volume_db": -30.0,
								"max_volume_db": -10.0  },
			{ "audio": "canoa-melo-marimba.ogg", "bars": 20, "type": "Marimba" },
			{ "audio": "canoa-voz-loli.ogg", "bars": 20, "type": "Voz" },
		]
	},
}
