; Coelho da Pascoa
; Configuration file

bars=20
music_bpm=96
characters={
	"Boogar": {
	 	"instruments": [
			{ "audio": "coelho-voz-kaio.ogg", "bars": 20, "type": "Voz",
							"min_volume_db": -35.0,
							"max_volume_db": -15.0 },
			{ "audio": "coelho-marcial-trombone.ogg", "bars": 10, "type": "Trombone" },
			{ "audio": "coelho-melo-sanfona.ogg", "bars": 10, "type": "Sanfona" ,
							"min_volume_db": -27.0,
							"max_volume_db": -7.0 },
			{ "audio": "coelho-melo-synth.ogg", "bars": 10, "type": "SynthBass" },
		]
	},
	"Ceval": {
		"instruments": [
			{ "audio": "coelho-pop-bateria.ogg", "bars": 10, "type": "BateriaPop" },
			{ "audio": "coelho-rock-bateria.ogg", "bars": 20, "type": "BateriaRock" },
			{ "audio": "coelho-melo-marimba.ogg", "bars": 10, "type": "Marimba",
							"min_volume_db": -17.0,
							"max_volume_db": 3.0  }
		]
	},
	"Dan": {
	"instrument_use_limit" : 1,

		"instruments": [
			{ "audio": "coelho-pop-baixo.ogg", "bars": 10, "type": "BaixoEletrico" },
			{ "audio": "coelho-latin-baixo.ogg", "bars": 10, "type": "BaixoAcustico" },
		]
	},
	"Esper": {
		"instruments": [
			{ "audio": "coelho-latin-recc-reco.ogg", "bars": 2, "type": "Recoreco" },
			{ "audio": "coelho-voz-sarah.ogg", "bars": 20, "type": "Voz" },
			{ "audio": "coelho-marcial-trompete.ogg", "bars": 10, "type": "Trompete" } ,

		]
	},
	"Gobu": {
		"instruments": [
			{ "audio": "coelho-marcial-tuba.ogg", "bars": 10, "type": "Tuba" },
			{ "audio": "coelho-latin-shaker.ogg", "bars": 2, "type": "Shaker",
							"min_volume_db": -24.0,
							"max_volume_db": -4.0  },
			{ "audio": "coelho-rock-baixo.ogg", "bars": 20, "type": "BaixoRock" },
			{ "audio": "coelho-marcial-picolo.ogg", "bars": 10, "type": "Picolo" },
		]
	},
	"Grompy": {
		"instruments": [
			{ "audio": "coelho-rock-gtr-base.ogg", "bars": 10, "type": "GuitarraBase",
							"min_volume_db": -21.0,
							"max_volume_db": -1.0  },
			{ "audio": "coelho-voz-vitor.ogg", "bars": 20, "type": "Voz"},
		]
	},
	"Ohle": {
	 	"instruments": [
			{ "audio": "coelho-pop-gtr-frase.ogg", "bars": 20, "type": "GuitarraFrase" },
			{ "audio": "coelho-rock-gtr-melodia.ogg", "bars": 20, "type": "GuitarraRock" },
			{ "audio": "coelho-melo-picolo.ogg", "bars": 10, "type": "Picolo" },
			{ "audio": "coelho-voz-pedro.ogg", "bars": 20, "type": "Voz"}
		]
	},
	"Rafog": {
	 	"instruments": [
			{ "audio": "coelho-marcial-bombo.ogg", "bars": 1, "type": "Bombo" },
			{ "audio": "coelho-marcial-caixa.ogg", "bars": 1, "type": "Caixa" },
			{ "audio": "coelho-latin-conga.ogg", "bars": 10, "type": "Conga" },
			{ "audio": "coelho-latin-violao.ogg", "bars": 10, "type": "Violao" },
			{ "audio": "coelho-melo-violino.ogg", "bars": 10, "type": "Violino" },
		]
	},
	"Teewong": {
	 	"instruments": [
			{ "audio": "coelho-pop-piano.ogg", "bars": 10, "type": "Orgao" },
			{ "audio": "coelho-pop-rhodes.ogg", "bars": 10, "type": "Rhodes",
							"min_volume_db": -25.0,
							"max_volume_db": -5.0  },
			{ "audio": "coelho-latin-marimba.ogg", "bars": 10, "type": "Marimba" },

		]
	},
}
