; Dona Aranha
; Configuration file
; 27 files

bars=16
music_bpm=114
characters={
	"Boogar": {
	 	"instruments": [
			{ "audio": "aranha-marcial-pratos.ogg", "bars": 8, "type": "Pratos" },
			{ "audio": "aranha-marcial-trombone.ogg", "bars": 8, "type": "Trombone" },
			{ "audio": "aranha-voz-kaio.ogg", "bars": 16, "type": "Voz",
									"min_volume_db": -30.0,
									"max_volume_db": -10.0  },
			{ "audio": "aranha-melo-sanfona.ogg", "bars": 8, "type": "Sanfona" },
			{ "audio": "aranha-melo-synth.ogg", "bars": 8, "type": "SynthBass" }
		]
	},
	"Ceval": {
	 	"instruments": [
	   	{ "audio": "aranha-melo-marimba.ogg", "bars": 8, "type": "Marimba",
								"min_volume_db": -15.0,
								"max_volume_db": 5.0  },
			{ "audio": "aranha-pop-bateria.ogg", "bars": 8, "type": "BateriaPop" },
			{ "audio": "aranha-rock-bateria.ogg", "bars": 16, "type": "BateriaRock" },
			{ "audio": "aranha-edm-electro-loop.ogg", "bars": 1, "type": "BateriaEletronica" },

		]
	},
	"Dan": {
		"instruments": [
			{ "audio": "aranha-latin-bateria.ogg", "bars": 4, "type": "Bateria",
									"min_volume_db": -15.0,
									"max_volume_db": 5.0 },
			{ "audio": "aranha-latin-violao.ogg", "bars": 8, "type": "Violao",
									"min_volume_db": -25.0,
									"max_volume_db": -5.0 },
			{ "audio": "aranha-marcial-caixa.ogg", "bars": 8, "type": "Caixa" },
			{ "audio": "aranha-pop-baixo.ogg", "bars": 8, "type": "BaixoEletrico" }
		]
	},
	"Esper": {
		"instruments": [
			{ "audio": "aranha-latin-agogo.ogg", "bars": 2, "type": "Agogo" },
			{ "audio": "aranha-marcial-trompete.ogg", "bars": 8, "type": "Trompete" },
			{ "audio": "aranha-voz-sarah.ogg", "bars": 16, "type": "Voz" },
			{ "audio": "aranha-edm-house-loop.ogg", "bars": 2, "type": "BateriaEletronica",
									"min_volume_db": -25.0,
									"max_volume_db": -5.0 }
		]
	},
	"Gobu": {
		"instrument_use_limit" : 1,
		"instruments": [
			{ "audio": "aranha-marcial-tuba.ogg", "bars": 8, "type": "Tuba" },
			{ "audio": "aranha-edm-baixo.ogg", "bars": 8, "type": "Synth",
									"min_volume_db": -25.0,
									"max_volume_db": -5.0 },
			{ "audio": "aranha-rock-baixo.ogg", "bars": 16, "type": "BaixoRock" }
		]
	},
	"Grompy": {
	 	"instruments": [
			{ "audio": "aranha-pop-gtr-base.ogg", "bars": 8, "type": "GuitarraBase" },
			{ "audio": "aranha-rock-gtr-base.ogg", "bars": 8, "type": "GuitarraFrase",
									"min_volume_db": -25.0,
									"max_volume_db": -5.0 },
			{ "audio": "aranha-voz-vitor.ogg", "bars": 16, "type": "Voz" }
		]
	},
	"Ohle": {
	 	"instruments": [
			{ "audio": "aranha-pop-gtr-frase.ogg", "bars": 8, "type": "GuitarraFrase" },
			{ "audio": "aranha-rock-gtr-melodia.ogg", "bars": 16, "type": "GuitarraRock" },
			{ "audio": "aranha-marcial-picolo.ogg", "bars": 8, "type": "Picolo" },
			{ "audio": "aranha-melo-picolo.ogg", "bars": 8, "type": "Picolo2" },
			{ "audio": "aranha-voz-pedro.ogg", "bars": 16, "type": "Voz" },
			{ "audio": "aranha-edm-dub-loop.ogg", "bars": 2, "type": "Synth" },

		]
	},
	"Rafog": {
	 	"instruments": [
			{ "audio": "aranha-latin-baixo.ogg", "bars": 8, "type": "BaixoAcustico" },
			{ "audio": "aranha-latin-conga.ogg", "bars": 2, "type": "Conga" },
			{ "audio": "aranha-marcial-bombo.ogg", "bars": 8, "type": "Bombo" },
			{ "audio": "aranha-melo-violino.ogg", "bars": 8, "type": "Violino" },
			{ "audio": "aranha-edm-trooper-loop.ogg", "bars": 2, "type": "Milkman" },
		]
	},
	"Teewong": {
	 	"instruments": [
			{ "audio": "aranha-latin-marimba.ogg", "bars": 8, "type": "Marimba" },
			{ "audio": "aranha-pop-piano.ogg", "bars": 8, "type": "Orgao" },
			{ "audio": "aranha-pop-rhodes.ogg", "bars": 8, "type": "Rhodes" },
			{ "audio": "aranha-latin-perc-loop.ogg", "bars": 4, "type": "Shaker" },
			{ "audio": "aranha voz loli.ogg", "bars": 16, "type": "Shaker" },
		]
	},
 }
