; O Sapo
; Configuration file
; 27 files

bars = 54
music_bpm = 138
characters = {
	"Boogar": {
		"instruments": [
			{ "audio": "sapo-marcial-pratos.ogg", "bars": 18, "type": "Pratos" },
			{ "audio": "sapo-melo-sanfona.ogg", "bars": 54, "type": "Sanfona" },
			{ "audio": "sapo-melo-synth.ogg", "bars": 54, "type": "SynthBass" },
		]
	},
	"Ceval": {
		"instruments": [
			{ "audio": "sapo-marcial-trompete.ogg", "bars": 54, "type": "Trompete",
								"min_volume_db": -15.0,
								"max_volume_db": 5.0  },
			{ "audio": "sapo-pop-bateria.ogg", "bars": 9, "type": "BateriaLatin",
								"min_volume_db": -15.0,
								"max_volume_db": 5.0 },

			{ "audio": "sapo-rock-bateria.ogg", "bars": 54, "type": "BateriaRock" },
		]
	},
	"Dan": {
		"instruments": [
			{ "audio": "sapo-latin-bateria.ogg", "bars": 18, "type": "Bateria" },
			{ "audio": "sapo-pop-baixo.ogg", "bars": 54, "type": "BaixoEletrico" },
			{ "audio": "sapo-rock-baixo.ogg", "bars": 54, "type": "BaixoRock" },
		]
	},
	"Esper": {
		"instruments": [
			{ "audio": "sapo-latin-perc-loop.ogg", "bars": 9, "type": "BateriaEletronica2",
			"min_volume_db": -15.0,
			"max_volume_db": 5.0  },
		]
	},
	"Gobu": {
		"instruments": [
			{ "audio": "sapo-marcial-picolo.ogg", "bars": 54, "type": "Picolo" },
			{ "audio": "sapo-pop-gtr-base.ogg", "bars": 54, "type": "GuitarraFrase" },
			{ "audio": "sapo-rock-gtr-melodia.ogg", "bars": 54, "type": "GuitarraRock" },
		]
	},
	"Grompy": {
		"instruments": [
			{ "audio": "sapo-latin-pandeirola.ogg", "bars": 9, "type": "Pandeirola" },
			{ "audio": "sapo-marcial-trombone.ogg", "bars": 54, "type": "Trombone" },
			{ "audio": "sapo-pop-gtr-frase.ogg", "bars": 54, "type": "GuitarraFrase" },
		]
	},
	"Ohle": {
		"instruments": [
			{ "audio": "sapo-marcial-tuba.ogg", "bars": 54, "type": "Tuba" },
			{ "audio": "sapo-melo-violino.ogg", "bars": 54, "type": "Violino",
								"min_volume_db": -15.0,
								"max_volume_db": 5.0  },
			{ "audio": "sapo-rock-gtr-base.ogg", "bars": 54, "type": "GuitarraFrase" },
			{ "audio": "sapo-melo-piccolo.ogg", "bars": 54, "type": "Picolo2",
								"min_volume_db": -15.0,
								"max_volume_db": 5.0  },
			{ "audio": "sapo voz pedro.ogg", "bars": 54, "type": "Voz" },
		]
	},
	"Rafog": {
		"instruments": [
			{ "audio": "sapo-latin-baixo.ogg", "bars": 54, "type": "BaixoAcustico" },
			{ "audio": "sapo-latin-violao.ogg", "bars": 54, "type": "Violao",
								"min_volume_db": -13.0,
								"max_volume_db": 7.0  },
			{ "audio": "sapo-marcial-bombo.ogg", "bars": 3, "type": "Bombo",
								"min_volume_db": -15.0,
								"max_volume_db": 5.0  },
			{ "audio": "sapo-marcial-caixa.ogg", "bars": 27, "type": "Caixa" },
		]
	},
	"Teewong": {
		"instruments": [
			{ "audio": "sapo-melo-marimba.ogg", "bars": 54, "type": "Marimba",
								"min_volume_db": -15.0,
								"max_volume_db": 5.0  },
			{ "audio": "sapo-pop-rhodes.ogg", "bars": 54, "type": "Rhodes",
								"min_volume_db": -25.0,
								"max_volume_db": -5.0  },
			{ "audio": "sapo voz loli.ogg", "bars": 54, "type": "Voz" },
		]
	},
 }
