; Pintinho Amarelinho
; Configuration file
; 33 files

bars=16
music_bpm=148
characters={
	"Boogar": {
	 	"instruments": [
			{ "audio": "pintinho-voz-kaio.ogg", "bars": 16, "type": "Voz",
							"min_volume_db": -25.0,
							"max_volume_db": -5.0 },
			{ "audio": "pintinho-latin-reco-reco.ogg", "bars": 16, "type": "Recoreco" },
			{ "audio": "pintinho-melo-sanfona.ogg", "bars": 16, "type": "Sanfona" },
			{ "audio": "pintinho-melo-synth.ogg", "bars": 16, "type": "SynthBass",
							"min_volume_db": -27.0,
							"max_volume_db": -7.0  },
		]
	},

	"Ceval": {
		"instruments": [
			{ "audio": "pintinho-latin-bateria.ogg", "bars": 4, "type": "BateriaLatin" },
			{ "audio": "pintinho-rock-bateria.ogg", "bars": 16, "type": "BateriaRock" },
			{ "audio": "pintinho-edm-funky-break.ogg", "bars": 8, "type": "BateriaEletronica" },

		]
	},

	"Dan": {
		"instruments": [
		{ "audio": "pintinho-pop-bateria.ogg", "bars": 4, "type": "Bateria",
							"min_volume_db": -15.0,
							"max_volume_db": 5.0  },
			{ "audio": "pintinho-latin-bongo.ogg", "bars": 16, "type": "Conga" },
		]
	},

	"Esper": {
		"instruments": [
			{ "audio": "pintinho-edm-house-loop.ogg", "bars": 2, "type": "BateriaEletronica",
							"min_volume_db": -25.0,
							"max_volume_db": -5.0 },
			{ "audio": "pintinho-edm-techno-loop.ogg", "bars": 16, "type": "BateriaEletronica2",
							"min_volume_db": -25.0,
							"max_volume_db": -5.0 },
			{ "audio": "pintinho voz sarah.ogg", "bars": 16, "type": "Voz" },
			{ "audio": "pintinho-pop-rhodes.ogg", "bars": 16, "type": "Rhodes" },
			{ "audio": "pintinho-melo-trompete.ogg", "bars": 16, "type": "Trompete",
							"min_volume_db": -10.0,
							"max_volume_db": 10.0} ,

		]
	},

	"Gobu": {
	"instrument_use_limit" : 1,

			"instruments": [
			{ "audio": "pintinho-marcial-tuba.ogg", "bars": 16, "type": "Tuba" },
			{ "audio": "pintinho-pop-baixo.ogg", "bars": 16, "type": "BaixoEletrico" },
			{ "audio": "pintinho-rock-baixo.ogg", "bars": 16, "type": "BaixoRock",
							"min_volume_db": -25.0,
							"max_volume_db": -5.0 },
			{ "audio": "pintinho-edm-acid-loop.ogg", "bars": 16, "type": "Synth",
							"min_volume_db": -25.0,
							"max_volume_db": -5.0  },
		]
	},

	"Grompy": {
		"instruments": [
			{ "audio": "pintinho-marcial-trombone.ogg", "bars": 16, "type": "Trombone"},
			{ "audio": "pintinho-voz-vitor.ogg", "bars": 16, "type": "Voz"},
			{ "audio": "pintinho-rock-guitarra-base.ogg", "bars": 16, "type": "GuitarraFrase",
							"min_volume_db": -30.0,
							"max_volume_db": -10.0},
		]
	},

	"Ohle": {
	 	"instruments": [
			{ "audio": "pintinho-melo-violino.ogg", "bars": 16, "type": "Violino" },
			{ "audio": "pintinho-edm-synth-arp.ogg", "bars": 16, "type": "Synth" },
			{ "audio": "pintinho-melo-picolo.ogg", "bars": 16, "type": "Picolo" },
			{ "audio": "pintinho-marcial-picolo.ogg", "bars": 16, "type": "Picolo2",
										"min_volume_db": -15.0,
										"max_volume_db": 5.0   },
			{ "audio": "pintinho-rock-gtr-melodia.ogg", "bars": 16, "type": "GuitarraRock" },
			{ "audio": "pintinho voz pedro.ogg", "bars": 16, "type": "Voz"}
		]
	},

	"Rafog": {
	 	"instruments": [
			{ "audio": "pintinho-latin-conga.ogg", "bars": 16, "type": "Conga" },
			{ "audio": "pintinho-latin-violao.ogg", "bars": 16, "type": "Violao"},
			{ "audio": "pintinho-edm-milkman.ogg", "bars": 16, "type": "Milkman" },
			{ "audio": "pintinho-edm-synth-bass.ogg", "bars": 16, "type": "SynthBass" },
		]
	},

	"Teewong": {
	 	"instruments": [
			{ "audio": "pintinho-latin-shaker.ogg", "bars": 4, "type": "Shaker" },
			{ "audio": "pintinho-melo-marimba.ogg", "bars": 16, "type": "Marimba",
							"min_volume_db": -15.0,
							"max_volume_db": 5.0  },
			{ "audio": "pintinho-voz-loli.ogg", "bars": 16, "type": "Voz" },
		]
	}
}
